<!DOCTYPE html>

<html>
    <head> 
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   
    </head>
    
    <body> 
        <div class = "container ">
            <h1>wHAt ArE thE VIbeS</h1>
            <p>Welcome to wHAt ArE thE VIbeS, where we can analyze your messages before you send or post them as well as allow you to 
            dive into the data of of your favorite twitter user and the vibes that they tweet with. Do you want to know if a message you
            that you post is more positive or negative? If so, type your message in the text box on the left! If you want to take a look at 
            your favorite twitter user, type their name in the box on the right.</p>
         </div>
        <div class = "row">
            <div class = "container col s5 card-panel input-field">
                <form action = "{{ url_for('print_message_analysis') }}" method = "post">
                    <input type = "text" name = "textInput" placeholder = "Insert message to analyze here">
                    <input class = "btn-large" type = "submit">
                </form>
                <p>{{text_input}}</p>
            </div>
            <div class = "container col s5 card-panel input-field">
                <form action = "{{ url_for('print_twitter_analysis') }}" method = "post">
                    <input type = "text" name = "tweeterInput" placeholder = "Put the handle of your fave twitter user">
                    <input type = "text" name = "numTweets" placeholder = "How many of their tweets do you want to analyze" >
                    <input class = "btn-large" type = "submit">
                </form>
                <p>{{twitter_output}}</p>
            </div>
        </div>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </body>


</html>

